@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

#portfolio {
  background-color: #ffffff;
  padding: 20px;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  text-align: left;
}

.intro-text {
  flex-basis: 60%;
  margin-right: 20px;
}

.intro-text h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.intro-text h2 {
  font-size: 24px;
  font-weight: normal;
  color: #6c757d;
  margin: 10px 0;
}

.intro-text p {
  font-size: 16px;
  color: #6c757d;
  margin-top: 0;
}

.intro-image {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}


.cv-entry {
  display: flex;
}

.education-entry {
  margin-bottom: 20px;
}

.cv-institution {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-details {
  flex-basis: 85%;
}

.company-logo {
  max-width: 50px;
  height: auto;
}

.education-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.education-card {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-basis: calc(33% - 20px);
  box-sizing: border-box;
}

.education-card h3 {
  margin-top: 0;
  font-size: 20px;
}

.education-card p {
  color: #6c757d;
  margin: 5px 0;
}
