@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

body {
  font-family: 'EB Garamond', serif;
  background-color: #f5f5f5; /* Sets a light grey background for the entire body */
}

#portfolio {
  background-color: #ffffff; /* White background for content */
  padding: 20px;
}

.intro-text, .cv-section, .education-section {
  background-color: #ffffff; /* Sets white background for sections */
  padding: 20px; /* Adds some padding around the content */
  margin-bottom: 20px; /* Adds margin below each section */
}

.intro-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e0e0; /* Light grey background for this section */
  text-align: center;
}

.intro-text p {
  font-size: 48px; /* Adjusted for balance */
  margin: 0; /* Removes default margin */
  flex-basis: 70%; /* Increased text area */
}

.profile-photo {
  width: 30%; /* Decreased to allocate more space to the text */
  height: auto;
  border: none; /* Removes any border */
  margin: 0;
  object-fit: cover;
}

.cv-entry, .education-section {
  display: flex;
}

.cv-company {
  flex-basis: 15%; /* Significantly reduces the width of the logo column */
  display: flex;
  justify-content: center; /* Centers the logo */
  align-items: center; /* Aligns the logo vertically */
}

.cv-details {
  flex-basis: 85%; /* Increases the width for details */
}

.company-logo {
  max-width: 50px; /* Adjusts the logo size */
  height: auto;
}

.education-section h2, .education-section ul, .education-section p {
  margin-left: 20px;
}

/* Additional adjustments for education section list styles */
.education-section ul {
  list-style-type: disc;
  padding-left: 20px; /* Adds padding to align bullets properly */
}

.education-section p {
  font-weight: bold;
}
